.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    color: brown;
    font-size: 13px;
    border-bottom: 1px solid brown;
    margin: 3px 0;
    width: max-content;
}

.desc{
    font-size: 14px;
}

.star{
    color: goldenrod;
}

.username{
    font-size: 14px;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-size: 16px;
}

.logout{
    background-color: brown;
}

.login{
    background-color: brown;
}

.Register{
    background-color: brown;
}

.buttons, .logout {
    position: absolute;
    top: 10px;
    right: 10px;
}